 ﻿@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
} 
@Html.Partial("AdminHeader");


@{
    ViewData["Title"] = "Admin Dashboard";
    var users = ViewData["Users"] as List<Users>; // Cast ViewData to the appropriate type
}

<h2>@ViewData["Title"]</h2>

<p>@ViewData["Message"]</p>
<p>Welcome, @ViewData["UserName"]!</p>

<h3>Users List:</h3>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        @if (users != null && users.Any())
        {
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.Contact</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No users found.</td>
            </tr>
        }
    </tbody>
</table>




    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="~/assets2/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/assets2/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="~/assets2/js/jquery.metisMenu.js"></script>
    <!-- MORRIS CHART SCRIPTS -->
    <script src="~/assets2/js/morris/raphael-2.1.0.min.js"></script>
    <script src="~/assets2/js/morris/morris.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~/assets2/js/custom.js"></script>

   

</html>
