@model IEnumerable<WebApplication7.Models.Users>

@{
    ViewData["Title"] = "Viewdata";
}

<h1>Viewdata</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody
@foreach (var item in Model) {
        <tr>
            <td>
                    
                    @item.User_id
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.User_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.User_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.User_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
