@model IEnumerable<dynamic>

<br><br><br>
<h1 class="text-center text-warning mt-5 mb-5">Available <span class="text-dark">Buses</span></h1>
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">




@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Bus Operator</th>
                <th>Route</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Date</th>
                <th>Price</th>
                <th>Book Now</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bus in Model)
            {
                <tr>
                    <td>@bus.Operator</td>
                    <td>@bus.Route</td>
                    <td>@bus.Departure_time</td>
                    <td>@bus.Arrival_time</td>
                    <td>@bus.date</td>
                    <td>@bus.Price</td>

                    <td>
                        <form action="/Home/BookNow" method="post">
                            <input type="hidden" name="schedule_id" value="@bus.schedule_id" />
                            <input type="submit" value="Book Now" class="btn btn-primary" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No buses available for the selected criteria.</p>
}

            </div>
            <!-- /. ROW  -->
            <hr />
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->


