@model IEnumerable<WebApplication7.Models.Contact>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" asp-action="EmployeIndex">Employe</a>

        </div>


        @if (!string.IsNullOrEmpty(Context.Session.GetString("abc")))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
                        <span class="btn btn-danger square-btn-adjust">
                            @Context.Session.GetString("abc")
                        </span>
                    </div>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="" asp-controller="Dashboard" asp-action="EmployeLogout">Logout</a>
                </div>
            </li>
        }

        else
        {
            <li class="nav-item">
                <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">

                    <a class="dropdown-item btn btn-danger square-btn-adjust" asp-area="" asp-controller="Dashboard" asp-action="AdminLogin">Login</a>
                </div>
            </li>
        }
    </nav>
    <!-- /. NAV TOP  -->
    <!-- /. NAV side  -->

    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="~/assets2/img/find_user.png" class="user-image img-responsive" />
                </li>



                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Employe" asp-action="View">User Data </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Employe" asp-action="ContactView">Contact Us </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Employe" asp-action="Addbus">Add Buses </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark " asp-area="" asp-controller="Employe" asp-action="Addbus_View">Addbus view </a>
                </li>
            </ul>
            </li>

            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->




    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">



                    <h1 class="text-danger text-center mt-5 mb-5">Contact us</h1>


                    <table class="table ">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Username)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Textarea)
                                </th>
                                <th>
                                    Edit
                                </th>
                                <th>
                                    Delete
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="bg-info">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)

                                    <td>
                                            @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Textarea)
                                    </td>
                                    <td>
                                        <a asp-action="ContactEdit" class="btn btn-success" asp-route-id="@item.Id">Edit</a>

                                    </td>
                                    <td>

                                        <a asp-action="ContactDelete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>










            </div>
            <!-- /. ROW  -->
            
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->

